.fa-play-circle {
  font-size: 100px;
  margin: 0 auto;
}

.fa-stop-circle {
  font-size: 100px;
  margin: 0 auto;
}

.record-btn {
  text-align: center;
  display: block;
}

.record-title {
  font-size: 50px;
}

.record-time {
  text-align: center;
  font-size: 25px;
}
