.songs-heading {
  font-size: 30px;
  margin-bottom: 30px;
}

.song {
  font-size: 20px;
  margin-bottom: 20px;
}

.song-name {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
}

.song-duration {
  display: inline;
}

.play-btn {
  margin-right: 10px;
  color: #f07d00;
}
